/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.Question {
  width: 100%;
  box-sizing: border-box;
}

.Question-video-question {
  width: 100%;
}

.Alternatives {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.Alternatives-alternative {
  display: flex;
  width: 50%;

  border: 4px solid transparent;
  border-radius: 10px;
}

.Alternatives-alternative.is-selected {
  border: 4px solid black;
}
